@import 'styles/colors.scss';

.choose {
	width: 100%;
	position: relative;
	top: 50px;
	display: flex;
	align-items: center;
	justify-content: center;

	.chooseStyle {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	.line {
		width: 90px;
		height: 15px;
		background-color: $color-line;

		@media (max-width: 550px) {
			width: 60px;
		}
	}

	.firstGroup {
		display: flex;
		align-items: center;
	}

	.lastGroup {
		position: relative;
		top: 10px;

		.line2 {
			width: 110px;
			height: 15px;
			background-color: $color-line;
			position: absolute;
			top: 0;
			transform: rotate(50deg);

			@media (max-width: 390px) {
				left: -10px;
			}
		}

		.line3 {
			width: 110px;
			height: 15px;
			background-color: $color-line;
			position: absolute;
			top: 0;
			right: 0;
			transform: rotate(-50deg);

			@media (max-width: 390px) {
				right: -10px;
			}
		}
	}
}
