$color-dark: hsl(229, 25%, 31%);
$color-blue: hsl(229, 64%, 46%);
$color-white: hsl(0, 0%, 100%);
$color-gray: hsl(217, 16%, 45%);
$color-line: #14203a;

$scissors-gradient: rgba(236, 158, 14, 1);
$paper-gradient: rgba(72, 101, 244, 1);
$rock-gradient: rgba(220, 46, 78, 1);
